:root {
  --shadow: 0 4px 6px -5px rgba(0, 0, 0, 0.15);
  --shadow-lg: 0 8px 10px -5px rgba(0, 0, 0, 0.1);
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Trebuchet;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, #ac0b10, #000000);

}

.section {
  min-height: 100vh;
}

.hero-section {
  position: relative;
  background: #a8c0ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom right,
    #3f2b96,
    #a8c0ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom right, #ac0b10, #000000);
  /* background: linear-gradient(
    to bottom right,
    #3f5efb,
    #fc466b
  ); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hackrcdu {
  position: absolute;
  z-index: 2;
  font-size: 1.9rem;
  padding: 25px;
  left: 10%;
  top: 25%;
  z-index: 1;
}

.hackrcdu h1 {
  font-family: Poppins;
  margin-bottom: 10px;
  color: white;
}

.hackrcdu h3 {
  font-family: Poppins;
  padding-bottom: 5px;
  color: white;
}

.hackrcdu h5 {
  font-family: Poppins;
  color: white;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.illustration {
  position: relative;
  z-index: 0;
}

.hero-img {
  position: absolute;
  top: 80px;
  right: 5%;
  z-index: 0;
  opacity: 0.8;
}

#devfolio-apply-now {
  -ms-flex-align: center;
  -webkit-box-align: center;
  align-items: center;
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  /* background-color: #3770ff; */
  border-radius: 3px;
  border: none;
  color: #000000e5;
  /* color: #ffffff; */
  cursor: pointer;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  font-family: "Garamond", "serif";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, */
    /* sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  font-size: 20px;
  font-weight: 1000;
  padding: 12px 20px;
  text-align: center;
  /* text-transform: lowercase; */
  transition: background 300ms;
}

#devfolio-apply-now:not([disabled]) {
  cursor: pointer;
}

#devfolio-apply-now:hover {
  background-color: #2954bf !important;
  transform: scale(1.1);
  color: #ffffff;
}

.icons {
  padding: 15px;
  padding-left: 0px;
  margin-top: 10px;
}

.icons a {
  display: inline-block;
  font-size: 20px;
  color: #ffffff;
  margin-right: 10px;
}

.icons a:hover {
  color: rgba(255, 255, 255, 0.85);
}

.about-section {
  background: linear-gradient(to bottom right #ac0b10, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}

.themes-section {
  background: linear-gradient(to bottom right, #ac0b10, #000000);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  height: 140vh;
}

.highlights {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlights h1 {
  padding: 25px;
  font-family: Poppins;
}

.container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.countdown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin-bottom: 30px;
}

.countdown li {
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  margin: 5px;
  border-radius: 10px;;
  display: inline-block;
  font-size: 25px;
  list-style-type: none;
  padding: 10px 25px;
  text-transform: uppercase;
  color: #fff;
}

.countdown li span {
  display: block;
  font-size: 40px;
}

.prize {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.prize-card {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  height: 75px;
  margin: 20px;
  margin-bottom: 0;
  border-radius: 4px;
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  /* background: black; */
  box-shadow: var(--shadow);
}

.cards {
  display: flex;
  margin-top: 40px;
  
}

.card {
  width: 300px;
  height: 380px;
  margin: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;

  box-shadow: var(--shadow);
  transition: box-shadow 300ms;
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
}

.card i {
  padding: 35px;
  font-size: 2.5em;
}

.card h3 i {
  font-size: 3rem;
}

.card:hover {
  box-shadow: var(--shadow-lg);
}

.schedule-section {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  background: linear-gradient(to bottom right, #ac0b10, #000000);
}

.themes-section {
  height: 100vh;
  margin-top: 0;
  background: linear-gradient(to bottom right, #ac0b10, #000000);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.themes-section h1 {
  color: #fff;
  font-family: Poppins;
  margin-bottom: 40px;
}

.theme-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.theme-card {
  color: #fff;
  width: 400px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  box-shadow: var(--shadow);
  transition: transform 300ms, box-shadow 300ms;
}

.theme-card i {
  font-size: 3rem;
  margin-bottom: 20px;
}

/* .theme-card:hover {
  box-shadow: var(--shadow-lg);
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
} */
.theme-card1 {
  color: #fff;
  width: 400px;
  height: 360px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  box-shadow: var(--shadow);
  transition: transform 300ms, box-shadow 300ms;
}

.theme-card1 i {
  font-size: 3rem;
  margin-bottom: 20px;
}

.theme-card1:hover {
  box-shadow: var(--shadow-lg);
  transform: translateY(-5px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
}

.event-schedule {
  margin-top: 50px;
  padding: 0 0 30px;
}

.event-schedule h1 {
  font-family: Poppins;
  padding: 25px;
}

.schedule-section-section {
  /* position: absolute; */
  display: flex;
  bottom: 0;
  height: 80vh;
  width: 80%;
  background-color: white;
  /* font-size: 0.8em; */

  margin-top: 100px;
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
.section-1 {
  width: 50%;
  margin: 30px;
  margin-top: 85px;
}

.section-1 h2 {
  margin-bottom: 25px;
}

.partition {
  padding: 0;
  margin-top: 125px;
  margin-bottom: 75px;
  width: 0;
  border-left: 2px black solid;
}

.section-2 {
  width: 50%;
  margin: 30px;
  margin-top: 85px;
}

.section-2 h2 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

.event-section {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #ac0b10, #000000);
}

.events-section {
  margin-top: 100px;
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.event-section-prize {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom right, #ac0b10, #000000);
  }

.events-section-prize {
  margin-top: 120px;
  position: relative;
  display: flex;
  width: 80%;
  justify-content: center;
  font-size: 1.5rem;
  /* background-color: #eeeeee; */
}
.events {
  margin-top: 35px;
}
.events-prize {
  margin-top: 35px;
}

.events h1 {
  font-family: Poppins;
}

.events-section-section {
  display: flex;
  justify-content: center;
  position: absolute;
  height: 85vh;
  width: 100%;
  bottom: 0;
  /* background-color: white; */
}

.events-section-section-prize {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-column-gap: 77px;
  justify-content: center;
  position: absolute;
  height: 85vh;
  width: 100%;
  bottom: 0;
 background: transparent;
 margin-top: 50px;
}

.parent {
  display: grid;
  width: 100%;
  margin: 12px 0px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 12px;
  grid-row-gap: 12px;
}

.parent-prize {
  display: grid;
  width: 100%;
  margin: 12px 1500px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 12px;
}

.div1 {
  background: linear-gradient( #020202, transparent), url("../assets/img1.jpg");
  opacity: 5;
  grid-area: 1 / 1 / 2 / 6;
}
.div2 {
  background: linear-gradient( #020202, transparent), url("../assets/img3.jpg");
  opacity: 5;
  grid-area: 1 / 6 / 2 / 9;
}
.div3 {
  background: linear-gradient( #020202, transparent), url("../assets/caddesign.jpg");
  opacity: 5;
  grid-area: 2 / 1 / 3 / 7;
}
.div4 {
  background: linear-gradient( #020202, transparent), url("");
  opacity: 5;
  grid-area: 2 / 3 / 3 / 7;
}
.div5 {
  background: linear-gradient( #020202, transparent), url("../assets/idea.jpeg");
  opacity: 5;
  grid-area: 2 / 7 / 3 / 9;
}
.div6 {
  background: linear-gradient( #020202, transparent), url("../assets/hackathon.jpg");
  opacity: 5;
  
  grid-area: 3 / 1 / 4 / 6;
}
.div7 {
  background: linear-gradient( #020202, transparent), url("../assets/img7.jpg");
  opacity: 5;
  
  grid-area: 3 / 6 / 4 / 9;
}

/* Table for Prize starts from here */

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  font-family: sans-serif;
  min-width: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 2);
  font-weight: bold;
}

.styled-table thead tr {
  background: linear-gradient(to bottom right, #ac0b10, #000000);
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr:hover {
  background-color: #a8ec55;
}


.styled-table tbody tr {
  border-bottom: 1px solid hsl(0, 0%, 87%);
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}
.styled-table tbody tr:nth-of-type(odd) {
  background: linear-gradient(to bottom right, #de8185, #4e4a4a);
}


.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #9563a2;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #9563a2;
}
.styled-table tbody tr.active-row:hover {
  background-color: #a8ec55;
}


.event-card {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: 50% 50%;
  justify-content: center;
  border: 2px gray solid;
}

.event-card h2 {
  color: white;
  font-family: Poppins;
}

.event-card a {
  text-decoration: none;
}

.sponsors-section {
  display: flex;
  justify-content: center;
}

.sponsors-section-section {
  display: flex;
  height: 100vh;
  width: 80%;
  margin-top: 40px;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-size: 1.5rem;
  background-color: #eeeeee;
}

.sponsors {
  margin-top: 10px;
  margin-bottom: 10px;
}

.sponsors h1 {
  font-family: Poppins;
  margin-top: 10px;
  margin-bottom: 20px;
}

.sponsors-list {
  width: 100%;
  height: 60vh;
  padding: 0 75px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: lightgray;
}

.sponsors-list-list {
  margin: 12px;
}

.mentors {
  margin-top: 20px;
  margin-bottom: 20px;
}

.mentors h1 {
  font-family: Poppins;
}

.mentors-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: lightgrey;
}

.faq-section {
  display: flex;
  justify-content: center;
}

.faq-section-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  background-color: #eeeeee;
}

.faqs {
  margin-top: 20px;
  margin-bottom: 20px;
}

.faqs h1 {
  font-family: Poppins;
}

.faqs-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85vh;
  width: 100%;
  margin-bottom: 50px;
  background-color: lightgrey;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 30vh;
  font-size: 1.3rem;
  background-color: #212529;
}

footer h4 {
  padding: 15px;
  color: #d2d1d1;
}

footer h4 i {
  color: rgb(22, 22, 218);
}

footer h4 a {
  color: white;
  text-decoration: none;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer h4 a span {
  text-decoration: underline;
}
.card-clock{background: linear-gradient(to bottom, #ac0b10 , #c2720a);}/*W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+} */
.card-clock-programming {
  background-image: url("../assets/programming.jpg");
  background-position: center;
}
.card-clock-sponsor{background: transparent; width: 300px;
  height: 260px;}

.card-themes {
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-themes-modelling{background-image:  url("../assets/modelling.jpg");
  background-position: center; background-size: cover;}
.card-teams {
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.card-teams-work{
  background-image: url("../assets/teamwork1.jpg"); background-position: top; background-size: cover; 
}
.card-food {
  background: linear-gradient(to bottom, #ac0b10 , #c2720a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.table-fill {
  background: #ffffff;
  box-shadow: var(--shadow);
  border-radius: 4px;
  overflow: hidden;
  font-size: 1em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.table-fill tr:nth-child(2n) {
  background: #f8f8fa;
}

.table-fill td {
  border: 1px solid #eaeaee;
  padding: 15px;
}

.table-fill thead {
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: bold;
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #7288a2;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #03b5d2;
}

.accordion a:hover::after {
  border: 1px solid #03b5d2;
}

.accordion a.active {
  color: #03b5d2;
  border-bottom: 1px solid #03b5d2;
}

.accordion a::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #7288a2;
  padding: 5px;
  width: 20px;
  height: 20px;
  text-align: center;
}

.accordion a.active::after {
  font-family: "Font Awesome 5 Free";
  content: "\f0fe";
  color: #03b5d2;
  border: 1px solid #03b5d2;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  -o-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  -o-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}

.button7 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.button8 {
  background: linear-gradient(to bottom, #ac0b10 , #c2720a);
  color: rgb(252, 251, 251); 
 
  border-radius: 10px;
}

.button8:hover {
  background: linear-gradient(to bottom, #6a0104 , #6a3d02);
  color: white;
}


.prize-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flip-card {
  background-color: transparent;
  width: 350px;
  height: 200px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background: linear-gradient(to bottom, #6a0104 , #6a3d02);
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flip-card-back h2{
  margin-top: 12px;
}

.timelineimg{
  width: 100%;
  display: block;
  margin-top: -40px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) { /* Target laptops and larger screens */
  .timelineimg {
    width: 1200px; /* Reduce the width for larger screens */
    margin-top: -115px;
  }
}